
@import url(http://fonts.googleapis.com/css?family=Raleway:400,700);
@import url(http://fonts.googleapis.com/css?family=Lato);

body a:link, body a:visited {
  color: #34495e;
}

#main {
    padding-right: 10px;
}

#sketch {
  position: absolute;
  margin: 0 auto;
  top: 0%;
  z-index: -1;
  opacity: 0.05;
}

#sidebar {
    position: absolute;
    top: 70px;
    right: 73%;
    padding-left: 5%;
    max-width: 390px;
    font-family: 'Raleway', Helvetica;
    text-align: right;
}

#name {
    font-size: 24pt;
    font-weight: bold;
}

#byline {
    font-size: 14pt;
}

#subpages {
    font-size: 14pt;
    font-weight: bold;
}

#name a:link, #name a:visited, #byline a:link, #byline a:visited, 
#subpages a:link, #subpages a:visited, #title a:link, #title a:visited {
    text-decoration: none;
    color: #333333;
}

.nav-collapse,
.nav-collapse ul,
.nav-collapse a {
  list-style: none;
  text-decoration: none;
}

#content {
    position: absolute;
    left: 35%;
    top: 60px;
    padding-right: 9%;
    max-width: 600px;
    font-size: 16px;
    font-family: 'Raleway', san-serif;
    font-weight: 400;    
    line-height: 1.5em;
    color: #333333;
}

#copy {
  font-family: 'Lato', san-serif;
}

.paging {
  padding-bottom: 100px;
  font-family: 'Raleway';
  vertical-align: center;
  display: inline;
  font-weight: bold;
}

.post {
  margin-bottom: 55px;
}

code {
  font-size: 14px;
}

pre {
-moz-border-radius: 15px;
-webkit-border-radius: 15px;
background-color: #272b2f;
color: #ffffff;
margin-left: 5%;
margin-right: 20%;
border-bottom: 1px solid #535f6b;
border-radius: 15px;
box-shadow: 0 1px 5px rgba(0,0,0,0.4) inset, 0 0 20px rgba(0,0,0,0.2) inset;
padding: 15px;
display: inline-block;
white-space: pre-wrap; 
}

/* Image styles */

img {
  /* Responsive images (ensure images don't scale beyond their parents) */

  max-width: 100%;
  /* Part 1: Set a maximum relative to the parent */

  width: auto\9;
  /* IE7-8 need help adjusting responsive images */

  height: auto;
  /* Part 2: Scale the height according to the width, otherwise you get stretching */

  border: 0;
  -ms-interpolation-mode: bicubic;
}

/* Expanding image galleries */

.imageBox
{
    color: #333333;
    width: 100%;    
    max-width: 800px;
    margin: 0px;
    text-align: center;
}

.imageBox div
{
    height: 0;
    margin: 0;
    overflow: hidden;
}

.imageBox label
{
    display: block;
    background-color: #BDC3C7;    
    color: #ffffff;
    padding: 5px;
    width: 70px;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;

}

.imageBox label:hover, .imageBox label:active
{    
    background-color: #7F8C8D;
}

.toggle
{
    display: none;
}

.toggle ~ div
{
    height: 0;
    margin: 0;
    overflow: hidden;
    transition: 0s all ease;
    -moz-transition: 0s all ease;
    -webkit-transition: 0s all ease;
    -o-transition: 0s all ease;
    -ms-transition: 0s all ease;
}

.toggle:checked ~ div
{
    height: 100%;
    margin: 5px 0 10px 0;
}

.toggle:checked ~ label
{
    background-color: transparent;
    color: #333333;    
}

/* Responsive iframe wrapper for YouTube embeds and suchlike */

.videowrapper {
    float: none;
    clear: both;
    width: 100%;
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0;
}

.videowrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Responsive styles */

@media screen and (max-width:900px) {

#sidebar {
    left: 9%;
    padding-right: 9%;
    padding-left: 0px;
    min-width: 100%;
    text-align: left;
}

#content {
    left: 9%;
    top: 350px;
    padding-right: 9%;
    font-size: 16px;
    font-family: 'Raleway', san-serif;
    font-weight: 400;    
    line-height: 1.5em;
    color: #333333;
}

}

/* Print styles */

@media print {
  * {
    text-shadow: none !important;
    color: #000 !important;
    background: transparent !important;
    box-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  @page  {
    margin: 0.5cm;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}




