/* This sheet draws liberally and lovingly from Twitter Boostrap. */

@font-face {
    font-family: 'ChunkFive';
    src: url('{{ ASSET_PATH }}/font/Chunkfive-webfont.eot');
    src: url('{{ ASSET_PATH }}/font/Chunkfive-webfont.eot?#iefix') format('embedded-opentype'),
         url('{{ ASSET_PATH }}/font/Chunkfive-webfont.woff') format('woff'),
         url('{{ ASSET_PATH }}/font/Chunkfive-webfont.ttf') format('truetype'),
         url('{{ ASSET_PATH }}/font/Chunkfive-webfont.svg#ChunkFiveRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

html, body {
                background-color: none;
            }
      body {
                margin: 0;
                background-image:url('{{ ASSET_PATH }}/me2.png');
                background-repeat:no-repeat;
                background-attachment:fixed;
                background-position:left; 
                background-size: 25%;
                font-family: ChunkFive, Georgia;
                padding-left: 30%;
                font-size: 200%;
                color: #333333;
            }
        h1 {
                display: inline-block;
                margin-top: 10px;
                margin-left: 20px;
                margin-bottom: 10px;
            }
    
}

            header { 
                font-family: ChunkFive, Georgia;
                font-size: 200%;
                color: #333333;
                border-bottom: 1px solid #000;  
            }

            header span { 
                margin-left: 20px; 
            }

            nav {
                background-color: #ffffff;
                height: 7%;
                width: 100%;
            }

            div {
                font-family: Georgia;
            }

            article {
                padding-left: 5%;
                padding-right: 15%;
                font-family: inherit;
                font-size: 55%;
                line-height: 150%;
                max-width: 800px;
            }

        .example {
            color: #333333;
            cursor: pointer;
            padding: 4px;
            border-radius: 4px;
            text-decoration: none;
        }
        
        .example:hover {
            background: #F2F2F2;
        }
        
        .example.dropdown-open {
            background: #888;
            color: #FFF;
        }
        
        .example.dropdown-open:after {
            color: #FFF;
        }

        .title {
            color: #333333;
            cursor: pointer;
            border-radius: 4px;
            text-decoration: none;
        }
        
        .title:hover {
            background: #F2F2F2;
        }

        .title:focus {
            color: #FFF;
        }

        .post {
            margin-bottom: 75px;
        }

img {
  /* Responsive images (ensure images don't scale beyond their parents) */

  max-width: 100%;
  /* Part 1: Set a maxium relative to the parent */

  width: auto\9;
  /* IE7-8 need help adjusting responsive images */

  height: auto;
  /* Part 2: Scale the height according to the width, otherwise you get stretching */

  vertical-align: top;
  border: 0;
  -ms-interpolation-mode: bicubic;
}

@media print {
  * {
    text-shadow: none !important;
    color: #000 !important;
    background: transparent !important;
    box-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  @page  {
    margin: 0.5cm;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}

.img-rounded {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}

.img-circle {
  -webkit-border-radius: 500px;
  -moz-border-radius: 500px;
  border-radius: 500px;
}