
html, body { 
		   background-color: none; 
		   }

body 	{ 
		margin: 0;
       	font-family: ChunkFive, Georgia;
       	font-size: 200%;
       	color: #333333; 
   	 	}
        
h1  	{ 
		display: inline-block;
    	margin-top: 10px;
    	margin-left: 20px;
    	margin-bottom: 10px; 
		}

header { 
            font-family: ChunkFive, Georgia;
            font-size: 100%;
            color: #333333;  
       }

nav  {
        height: 7%;
        width: 100%;
     }

            div {
                font-family: Georgia;
            }

            article {
                padding-left: 5%;
                padding-right: 15%;
                font-family: inherit;
                font-size: 55%;
                line-height: 150%;
                max-width: 800px;
            }

article a:link {
	color: #34495E;
	text-decoration: underline;
}

article a:visited {
	color: #2C3E50;
	text-decoration: underline;
}

.lcolumn {

}

.lcolumn img {
	max-width: 346px;
	position: fixed;
	left: 0%;
	top: 5%;
	z-index: -1;
}

.rcolumn {
	padding-left: 30%;
}

.shuffle {
        			margin-left: 20px; 
}

.example {
            		color: #333333;
            		cursor: pointer;
            		padding: 4px;
            		border-radius: 4px;
            		text-decoration: none;
}

.example:link {
        			color: #333333;
        			text-decoration: none;
}
        
.example:hover {
            		background: #F2F2F2;
}
        
.example.dropdown-open {
            		background: #888;
            		color: #FFF;
}
        
.example.dropdown-open:after {
            		color: #FFF;
}

.title {
            color: #333333;
            cursor: pointer;
            border-radius: 4px;
            text-decoration: none;
        }

	.title:link {
        	color: #333333;
        	text-decoration: none;
        }

	.title:visited {
        	color: #333333;
        	text-decoration: none;
        }
        
        .title:hover {
            background: #F2F2F2;
        }

        .title:focus {
            color: #FFF;
        }

.post {
            margin-bottom: 75px;
        }

pre {
-moz-border-radius: 15px;
-webkit-border-radius: 15px;
background-color: #272b2f;
color: #ffffff;
margin-left: 5%;
margin-right: 20%;
border-bottom: 1px solid #535f6b;
border-radius: 15px;
box-shadow: 0 1px 5px rgba(0,0,0,0.4) inset, 0 0 20px rgba(0,0,0,0.2) inset;
padding: 15px;
display: block;
white-space: pre-wrap; 
}

/* Image styles */

img {
  /* Responsive images (ensure images don't scale beyond their parents) */

  max-width: 100%;
  /* Part 1: Set a maximum relative to the parent */

  width: auto\9;
  /* IE7-8 need help adjusting responsive images */

  height: auto;
  /* Part 2: Scale the height according to the width, otherwise you get stretching */

  border: 0;
  -ms-interpolation-mode: bicubic;
}

.img-rounded {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}

.img-circle {
  -webkit-border-radius: 500px;
  -moz-border-radius: 500px;
  border-radius: 500px;
}

/* Expanding image galleries */

.imageBox
{
    color: #333333;
    width: 100%;    
    max-width: 800px;
    margin: 0px;
    text-align: center;
}

.imageBox div
{
    height: 0;
    margin: 0;
    overflow: hidden;
}

.imageBox label
{
    display: block;
    background-color: #34495E;    
    color: #ffffff;
    padding: 5px;
    width: 70px;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;

}

.imageBox label:hover
{    
    background-color: #24394d;
}

.toggle
{
    display: none;
}

.toggle ~ div
{
    height: 0;
    margin: 0;
    overflow: hidden;
    transition: 0s all ease-in;
    -moz-transition: 0s all ease-in;
    -webkit-transition: 0s all ease-in;
    -o-transition: 0s all ease-in;
    -ms-transition: 0s all ease-in;
}

.toggle:checked ~ div
{
    height: 100%;
    margin: 5px 0 10px 0;
}

.toggle:checked ~ label
{
    background-color: transparent;
    color: #333333;    
}

/* Mobile styles */

@media screen and (max-width:1024px) {

	.lcolumn img {
		opacity: 0.1;
	}

	.rcolumn {
		padding-left: 0px;
	}

	.shuffle {
        margin-left: 0px; 
        margin-top: 2px;
	}

	h1 { 
		display: block;
    	margin-top: 10px;
    	margin-left: 0;
    	margin-bottom: 0px; 
	}

	header {
		text-align: center;
		margin-left: 0px;
		padding-left: 0px;
		margin-bottom: 30px;
		font-size: 95%;
	}

	article {
		padding-left: 10%;
		padding-right: 10%;
	}

	.example:hover {	background: transparent;
}
        
	.example.dropdown-open {
            		background: transparent;
            		color: #333333;
}
        
	.example.dropdown-open:after {
            		color: #333333;
}
}

/* Print styles */

@media print {
  * {
    text-shadow: none !important;
    color: #000 !important;
    background: transparent !important;
    box-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  @page  {
    margin: 0.5cm;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}




