---
layout: default
title: Eric Gregory
description: This is the notebook of Eric Gregory, writer and editor of stories and more.
keywords: eric gregory,blog,writing,science fiction,html,css,javascript,programming,coding,ruby,python
---
  {% for post in paginator.posts %}
    {% if post.link_url %}

<div class="post">
    
        <h2 style="margin-bottom: 0px; padding-bottom: 0px;"><span id="title"><a href="{{ post.link_url }}">{{ post.title }}</a></span></h2>
        <span style="font-size: 80%; margin-bottom: 5px; margin-top: 0px;">{{ post.date | date: "%A, %B %d, %Y" }}</span>
        <span style="font-family: 'Lato', san-serif;">{{ post.content }}</span>
        
</div>

    {% else %}

<div class="post">

        <h2 style="margin-bottom: 0px; padding-bottom: 0px;"><span id="title"><a href="{{ post.url }}">{{ post.title }}</a></span></h2>
        <span style="font-size: 80%; margin-bottom: 5px; margin-top: 0px;">{{ post.date | date: "%A, %B %d, %Y" }}</span>
        <span style="font-family: 'Lato', san-serif;">{{ post.content }}</span>
      

</div>

    {% endif %}
  {% endfor %}
<div class="paging">
    {% if paginator.next_page %}
      <a href="/page{{paginator.next_page}}" style="text-decoration: none; color: #333333;"><i class="icon-chevron-left"></i> Older </a>
    {% endif %}
  </div>
  
    {% if paginator.previous_page %}
      <div class="paging" style="float:right;">
    {% endif %}
  
    {% if paginator.previous_page %}
      <a href="
        {% if paginator.previous_page == 1 %}
          /
        {% else %}
          /page{{ paginator.previous_page }}
        {% endif %}" style="text-decoration: none; color: #333333;"> Onward <i class="icon-chevron-right"></i></a></div>
    {% endif %}
  
    {% if paginator.previous_page %}
      
    {% endif %}