{% capture location %}{{ page.url | remove_first:'/' | split:'/' | first }}{% endcapture %}<!doctype html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="chrome=1" />
		<title>{% if page.title %}{{ page.title }}{% else %}Strangerland by Eric Gregory{% endif %}</title>
		
		<link rel="canonical" href="{{ site.url }}{{ page.url }}" />
{% if page.blogfeed %}
		<link rel="alternate" type="application/atom+xml" title="{{ site.name }} — Feed" href="{{ site.url }}/blog/feed.atom" />
{% endif %}
		<link rel="stylesheet" href="/css/main.css" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<!--[if lt IE 9]>
		<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
	</head>
	<body>
		<div class="wrapper">
			<header>
				<div id="banner">
				<span id="title"><strong>Strangerland</strong></span>
    			<br><span id="byline">by Eric Gregory</span>
    			</div>
				<nav><ul>
					<li><a {% if location == 'about' %}class="active" {% endif %}href="/about/">About</a></li>
					<li><a {% if location == 'fiction' %}class="active" {% endif %}href="/fiction/">Fiction</a></li>
					<li><a {% unless location == 'about' or location == 'fiction' or location == 'contact' %}class="active" {% endunless %}href="/">Blog</a></li>
					<li><a {% if location == 'contact' %}class="active" {% endif %}href="/contact/">Contact</a></li>
				</ul></nav>
			</header>
			<section>
				{{ content }}
			</section>
			<footer>
{% if page.nobio != true %}{% if location != '' %}
				<img class="avatar" src="https://pbs.twimg.com/profile_images/3406213967/fafdea5c2d7ef96a0220af719bf6b3fa_400x400.png">
{% endif %}
				<p><a href="/about/">Eric Gregory</a> is a writer and editor in Carrboro, North Carolina.</p>
				<p><a href="http://twitter.com/ericgregory"><svg version="1.1" class="twitter-icon-svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                 viewBox="0 0 16 16" enable-background="new 0 0 16 16" xml:space="preserve">
                <path fill="#C2C2C2" d="M15.969,3.058c-0.586,0.26-1.217,0.436-1.878,0.515c0.675-0.405,1.194-1.045,1.438-1.809
                c-0.632,0.375-1.332,0.647-2.076,0.793c-0.596-0.636-1.446-1.033-2.387-1.033c-1.806,0-3.27,1.464-3.27,3.27
                c0,0.256,0.029,0.506,0.085,0.745C5.163,5.404,2.753,4.102,1.14,2.124C0.859,2.607,0.698,3.168,0.698,3.767
                c0,1.134,0.577,2.135,1.455,2.722C1.616,6.472,1.112,6.325,0.671,6.08c0,0.014,0,0.027,0,0.041c0,1.584,1.127,2.906,2.623,3.206
                C3.02,9.402,2.731,9.442,2.433,9.442c-0.211,0-0.416-0.021-0.615-0.059c0.416,1.299,1.624,2.245,3.055,2.271
                c-1.119,0.877-2.529,1.4-4.061,1.4c-0.264,0-0.524-0.015-0.78-0.046c1.447,0.928,3.166,1.469,5.013,1.469
                c6.015,0,9.304-4.983,9.304-9.304c0-0.142-0.003-0.283-0.009-0.423C14.976,4.29,15.531,3.714,15.969,3.058z"/>
              </svg></a>  
              <a href="http://ericmg.com/rss.xml"><span class="icon twitter">
              <svg version="1.1" class="twitter-icon-svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 24.332 24.311" style="enable-background:new 0 0 24.332 24.311;" xml:space="preserve">
<g id="c40_rss">
  <path fill="#C2C2C2" d="M3.607,17.099C1.618,17.099,0,18.716,0,20.707c0,1.984,1.618,3.604,3.607,3.604
    s3.607-1.619,3.607-3.604C7.214,18.716,5.596,17.099,3.607,17.099z"/>
  <path fill="#C2C2C2" d="M0.375,7.941C0.169,7.941,0,8.11,0,8.318v4.578c0,0.206,0.169,0.374,0.375,0.374
    c5.879,0,10.665,4.784,10.665,10.665c0,0.205,0.166,0.375,0.375,0.375h4.581h0.016c0.209,0,0.377-0.17,0.377-0.375l-0.018-0.117
    C16.305,15.054,9.152,7.941,0.375,7.941z"/>
  <path fill="#C2C2C2" d="M24.311,23.818C24.246,10.671,13.531,0,0.375,0C0.169,0,0,0.169,0,0.377v4.711
    c0,0.207,0.169,0.375,0.375,0.375c10.186,0,18.472,8.287,18.472,18.473c0,0.205,0.168,0.375,0.373,0.375h4.713h0.02
    c0.205,0,0.379-0.17,0.379-0.375L24.311,23.818z"/>
</g>
<g id="Capa_1">
</g>
</svg></a>
{% endif %}
				<p>
					<small>© {{ site.time | date: '%Y' }} Eric Gregory</small><br />
					
				</p>
			</footer>
		</div>
		<script src="/js/scale.fix.js"></script>
		<script type="text/javascript">

			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-39800967-1', 'ericmg.com');
  ga('send', 'pageview');

  	</script>

	</body>
</html>
