---
layout: default
blogfeed: true
---

<h2 class="post-title"><a href="{{ post.url }}">{{ page.title }}</a></h2>
	<p class="post-meta">
		{{ page.date | date: "%A, %B %d, %Y" }} 
	</p>

	<br>

{{ content }}

<script>
var idcomments_acct = '43cf64c059f55b12b58e7a2f8dc0bc12';
var idcomments_post_id;
var idcomments_post_url;
</script>
<span id="IDCommentsPostTitle" style="display:none"></span>
<script type='text/javascript' src='http://www.intensedebate.com/js/genericCommentWrapperV2.js'></script>